rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /transactions/{document=**} {
      //allow read and write
      allow create: if request.auth != null; // if user is login allow create

      allow read, delete: if request.auth.uid == resource.data.uid;
      
    }
  }
}